asgiref==3.8.1
attrs==21.4.0
Brotli==1.1.0
click==8.1.7
dj-database-url==2.2.0
Django==4.2.13
gitdb==4.0.9
GitPython==3.1.27
gunicorn==22.0.0
h11==0.14.0
iniconfig==1.1.1
lizard==1.17.10
mysqlclient==2.2.4
packaging==21.3
pluggy==0.13.1
psycopg2-binary==2.9.9
py==1.11.0
pyparsing==3.0.9
pytest==6.2.4
pytz==2022.1
smmap==5.0.0
sqlparse==0.5.0
toml==0.10.2
tomli==2.0.1
types-pytz==2021.3.8
typing_extensions==4.12.2
unittest2pytest==0.4
uvicorn==0.30.1
whitenoise==6.6.0
